.allCarFacts {


    .singleCarFact {
        >div {
            border: 1px solid var(--primary-color);
            padding: 30px 15px;
            border-radius: 5px;
            background-color: rgba(249, 249, 249, 0.3);
            box-shadow: 10px 10px 10px var(--primary-color-opacity);
        }

        svg {
            width: 40px;
            height: 40px;
            color: var(--primary-color);
            margin-bottom: 20px;
        }

        h5 {
            font-weight: 300;
            color: var(--primary-color);
            font-size: 16px;
            margin: 10px 0px;
            min-height: 40px;
        }


        p {
            margin: 0px;
            color: #666;
        }
    }
}

@media (max-width: 500px) {
    .allCarFacts {
        margin-left: 0px;
    }
}
