.singleCar {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    transition: all 0.5s ease-in-out;


    &:hover {
        border-color: var(--primary-color);
        box-shadow: 10px 10px 10px var(--primary-color-opacity);
    }

    h2 {
        font-weight: 300;
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
        font-weight: 300;
    }

    .singleImage {
        width: 100%;
        height: auto;
    }

    .singlFact {
        text-align: center;

        .trafefacticon {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .carButton {
        text-align: right;
    }

    .advantageList {
        ul {
            li {
                list-style-type: none;
                line-height: 30px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                svg {
                    color: #fff;
                    background-color: var(--primary-color);
                    padding: 5px;
                    border-radius: 20px;
                    margin-right: 10px;
                }
            }
        }

    }

}

@media (max-width: 500px) {

    .carInternGridWrapper {
        flex-flow: column !important;
        margin-top: unset;
        width: 100%;
        margin-left: unset;

        .imageContainer {
            padding-left: 0px;
            h3 {
                margin-top: 0px;
                font-size: 14px;
                margin-bottom: 40px;
            
            }
        }

        .advantageList {
            padding-left: unset;

            ul {
                padding-left: unset;

                li {
                    font-size: 16 px;
                }
            }
        }

        .keyFact {
            padding-left: unset;
            .singlFact {
                font-size: 13px;
            .trafefacticon {
                text-align: center;
                padding: 10px 0px;
            }
        }
        }
        .carButton {
            padding-left: unset; 
                button {
                    width: 100%;
                }
            }
        
    }
}