.container {
    padding: 15px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.3);

    a {
        transition: color 0.5s ease-in-out;
        &:hover {
            color: var(--primary-color);
        }
    }

    p {
        margin-top: 0px;
    }

    .IconWrapper {
        display: flex;
        justify-content: center;

        svg {
            width: 50px;
            height: 50px;
        }
    }

    h2 {
        margin-bottom: 0px;
        font-weight: 300;
    }

    h4 {
        font-weight: 300;
        margin-top: 0px;
        font-size: 24px;
    }
}