.tooltipBody {
    padding: 10px;
    font-size: 14px;
    p {
        margin: 5px 0px;
    span {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
    }
}
}

.tooltipHeader {
    padding: 10px;
}