.wrapper {
    text-align: center;
    max-width: 1200px;
    margin: 0px auto;
    h1 {
        text-align: center;
        font-weight: 800;
        color: var(--primary-color);
        font-size: 120px;
        margin-bottom: 30px;
    }

    h2 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
    }

    button {
        margin-bottom: 50px;
    }
}