.filterContainerInner {
    padding-right: 20px;
    padding-left: 0px;
    padding-top: 0px;

    .headline {
        font-weight: 300;
        font-size: 16px;

    }

    .image_filter {
        padding: 10px;
        padding-top: 0px;
        border: 1px solid var(--grey);
        border-radius: 10px;
        font-size: 12px;
        text-align: center;
        transition: all 0.5s ease-in-out;

        &:hover {
            border-color: var(--primary-color);
            box-shadow: 10px 10px 10px var(--primary-color-opacity);
        }

        img {
            width: 100%;
            height: auto;
        }

        .iconSubtext {
            margin-top: -20px;
            display: block;
        }
    }

    .producerImage {
        height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 50% !important;
            width: auto !important;
            max-width: 100%;
            opacity: 0.7;
            filter: grayscale(100%);
            transition: all ease-in-out 0.5s;
        }

        &:hover {
            img {
                opacity: 1;
            }
        }

    }

    .string_filter {
        padding: 10px;
        border: 1px solid var(--grey);
        border-radius: 10px;
        text-align: center;
        transition: all 0.5s ease-in-out;

        &:hover {
            border-color: var(--primary-color);
            box-shadow: 10px 10px 10px var(--primary-color-opacity);
        }
    }

    @media (max-width: 500px) {
        margin-left: 20px;

        .filterCloseBtn {
            margin-top: 20px;
button {
    width: 100%;
}
        }
    }
}