.mbsc-material.mbsc-selected .mbsc-calendar-cell-text {
    color: var(--white) !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;

}

a {
    text-decoration: none !important;
    color: #333;

}

.mbsc-material.mbsc-range-day:after {
    background-color: var(--primary-color-opacity) !important;
}

.mbsc-material.mbsc-calendar-today {
    color: var(--primary-color) !important;
}

body {
    font-family: 'Nunito Variable', sans-serif;
    font-weight: 300;

}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Poppins', sans-serif;

    font-style: normal;
    font-weight: 400;
}

.slick-list {
    height: 300px;

    .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 250px;
        padding: 0 5px; // Fügt horizontal 5px Padding zu beiden Seiten hinzu

        .slideContainer {
            width: calc(100% - 10px); // Zieht das Padding von der Gesamtbreite ab, um Überlappungen zu vermeiden

            .slideContainerInner {
                box-sizing: border-box;
                margin: 0 auto;
                border: 1px solid #ccc;
                width: 100%;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f2f2f2;

                img {
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                    max-width: 100%;
                }
            }
        }
    }
}