.spinner {
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.FilterContainer {
    padding-left: 0px !important;
    padding-top: 0px !important;

}

.datepickerLayer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        max-width: 1200px;
        width: 100%;
        border: 1px solid var(--grey);
        padding: 20px;
        background-color: var(--white);

    }

}

.pickerInput {
    margin: 30px 0px;
    text-align: center;

    input {
        min-width: 400px;
        text-align: center;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1250px) {
    .datepickerLayer {
        .inner {
            box-shadow: 20px 20px 20px #ebebeb;
        }
    }

}

.openFilterButtonWrapper {
    display: none;
}

.mainWrapper {
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .mainWrapper {
        padding: 0px 20px;
    }
}

.pickerField {
    max-width: 100%;
   > div {
    flex-flow: row-reverse!important;
   }
}

.overviewCarWrapper {
    flex-flow: row-reverse!important;
}

@media (max-width: 500px) {
    .FilterContainer {
        position: fixed;
        background: #fff;
        z-index: 100;
        left: -500px;
        top: 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 30px;
        transition: left 0.5s ease;
    }

    .filtervisible {
        left: 0px!important;
    }

    .openFilterButtonWrapper {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0; 
        width: 100%;
        button {
            width: 100%;
            cursor: pointer;
            padding: 10px 0px;
        }
    }
    
}