.singleKeyFact {
  
    padding: 0px 10px;
    > div {
            border: 1px solid var(--primary-color);
            padding: 30px 15px;
            border-radius: 5px;
            background-color: rgba(249, 249, 249, 0.3);
            box-shadow: 10px 10px 10px var(--primary-color-opacity);
         
    }
    svg {
        width: 40px;
        height: 40px;
        color: var(--primary-color);
    }

    h3 {
        font-weight: 400;
        color: var(--primary-color);
    }

    p {
        margin: 0px;
    }


}

@media (max-width: 500px) {
    .allKeyFacts {
        margin-left: 0px;
    }
}
