.container {
    padding: 15px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.3);
    margin-bottom: 30px;

    h4 {
        font-weight: 300;
        margin-top: 0px;
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        margin: 0px;
    }

    .IconWrapper {
        display: flex;
        justify-content: center;

        svg {
            width: 40px;
            height: 40px;
        }
    }

    .firstAddress {
        margin-bottom: 30px;
    }

    .mapsWrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        a {
            color: var(--primary-color) !important;
            transition: color 0.5s ease-in-out;

            &:hover {
                color: #333 !important;
            }
        }
    }
}