.wrapper {
    max-width: 1000px;
    margin: 0px auto;

    .middleOffer {
        background-color: var(--primary-color);
        color: var(--white);
        border-radius: 10px;
        text-align: center;
        padding: 30px 0px;
        box-shadow: 10px 10px 10px var(--primary-color-opacity);
        z-index: 10;
        margin-top: -40px;
        margin-bottom: -40px;

        ul {
            padding: 0px;
            margin: 30px0px;

            li {
                list-style-type: none;
                line-height: 25px;
            }
        }

        h3 {
            font-size: 30px;
        }

        h4 {
            margin: 0px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 300;
        }

        h5 {
            margin: 0px;
            font-weight: 300;
        }

        p {
            font-weight: 500;
            margin: 30px 0px 0px 0px;
        }

        button {
            box-shadow: unset;
            background-color: var(--white);
            color: var(--primary-color);
            margin-top: 60px;
        }
    }

    .leftOffer {
        background-color: rgba(249, 249, 249, 0.3);
        margin-left: 30px;
        border-radius: 10px;
        text-align: center;
        padding: 30px 0px;
        border: 1px solid var(--primary-color);
        box-shadow: 10px 10px 10px var(--primary-color-opacity);
        margin-right: -40px;


        ul {
            padding: 0px;
            margin: 30px0px;

            li {
                list-style-type: none;
                line-height: 25px;
            }
        }

        h3 {
            font-size: 30px;
        }

        h4 {
            margin: 0px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 300;
            color: var(--primary-color)
        }

        h5 {
            margin: 0px;
            font-weight: 300;
            color: var(--primary-color)
        }

        p {
            font-weight: 500;
            margin: 30px 0px 0px 0px;
        }

        button {
            box-shadow: unset;
        }
    }

    .rightOffer {
        background-color: rgba(249, 249, 249, 0.3);
        border-radius: 10px;
        text-align: center;
        padding: 30px 0px;
        border: 1px solid var(--primary-color);
        box-shadow: 10px 10px 10px var(--primary-color-opacity);
        margin-left: -40px;


        ul {
            padding: 0px;
            margin: 30px0px;

            li {
                list-style-type: none;
                line-height: 25px;
            }
        }

        h3 {
            font-size: 30px;
        }

        h4 {
            margin: 0px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 300;
            color: var(--primary-color)
        }

        h5 {
            margin: 0px;
            font-weight: 300;
            color: var(--primary-color)
        }

        p {
            font-weight: 500;
            margin: 30px 0px 0px 0px;
        }

        button {
            box-shadow: unset;
        }
    }

}


@media (max-width: 800px) {
    .wrapper {
        padding: 0px 20px;

        .leftOffer {
            margin-left: 0px;
            margin-right: 0px;
        }

        .middleOffer {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .rightOffer {
            margin-left: 0px;
        }
    }
}