.container {

    .introContainer {
        margin-bottom: 30px;
        h2 {
            font-size: 30px;
            font-weight: 300;
        }
    }
  
    .formContainer {
        padding: 15px;
        border: 1px solid var(--grey);
        border-radius: 10px;
        background-color: rgba(249, 249, 249, 0.3);

    }

    .rightWrapper {
        padding-top: 0px;
    }
}

.mainWrapper {
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media (max-width: 500px) {
.mainWrapper {
padding-left: 15px;
.rightWrapper {
    padding-left: 0px;
    margin-top: 30px;
}
}
}