.container {
    padding: 15px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.3);
    margin-bottom: 30px;

    .imageContainer {
        display: flex;
        justify-content: center;
        margin: 30px 0px;

        img {
            width: 80%;
            height: auto;
            text-align: center;
        }

    }

    h2 {
        font-weight: 300;
        text-align: center;
    }

    h3 {
        font-weight: 300;
        text-align: center;
        margin-bottom: 0px;
    }

    h4 {
        font-weight: 300;
        margin-top: 0px;
        font-size: 24px;
    }
}