.datepickerLayer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        max-width: 1200px;
        width: 100%;
        border: 1px solid var(--grey);
        padding: 20px;
        background-color: var(--white);

    }
}

.successMessageWrapper {
    text-align: center;
    padding: 30px 0px;
    .successHeadline {
        font-weight: 300;
        margin-bottom: 50px;
    }

    .successText {
        a {
            color: var(--primary-color);
            transition: all 0.5 ease-in-out;

            &:hover {
                color: var(--grey);
            }
        }
    }
}