.carCard {
    padding: 20px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.3);
    
    .imageContainer {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 10px;
        min-height: 180px;

        img {
            width: 100%;
            height: auto;
        }
    }

    h3 {
        font-weight: 300;
        margin-top: 30px;
        min-height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .factContainer {
        margin-bottom: 30px;

        .singleFact {
            font-size: 12px;

            svg {
                height: 15px;
                width: 15px;
                margin-bottom: 5px;
            }
        }
    }
}