.datepickerLayer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        max-width: 1200px;
        width: 100%;
        border: 1px solid var(--grey);
        padding: 20px;
        background-color: var(--white);

    }

}

.offerWrapper {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.singleCarContainer {

    .otherDetails {
        cursor: pointer;
    }

    .imageContainer {
        max-width: 1200px;
        margin: 0px auto;
        text-align: center;
        margin-top: 150px;

        img {
            width: 80%;
            max-width: 80%;
            height: auto;
        }
    }

    .headline {
        max-width: 1200px;
        margin: 0px auto;
        text-align: center;
        margin-top: 100px;

        h1 {
            font-weight: 400;
            font-size: 40px;
        }
    }

    .pickerWrapper {
        max-width: 1200px;
        margin: 0px auto;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;

        h4 {
            font-weight: 300;
            font-size: 24px;
            margin-bottom: 15px;
        }

        .otherDetails {
            margin-top: 20px;
            font-weight: 400;
        }

        .pickerField {
            min-width: 400px;
            margin-bottom: 30px;
            text-align: center;

            input {
                text-align: center;
            }
        }
    }

    .headlineTwoContainer {
        max-width: 1200px;
        margin: 0px auto;
        text-align: center;
        margin-top: 50px;

        h2 {
            font-weight: 300;
            font-size: 60px;
        }
    }

    .descriptionWrapper {
        max-width: 1200px;
        margin: 0px auto;
        text-align: center;
        margin-top: 100px;

        h2 {
            font-weight: 300;
            font-size: 30px;
        }

        p {
            font-weight: 300;
            text-align: justify;
        }
    }

    .keyFacts {
        max-width: 1200px;
        margin: 0px auto;
        text-align: center;
        margin-top: 50px;
    }

    .otherFacts {
        max-width: 1200px;
        margin: 0px auto;
        text-align: center;
        margin-top: 100px;

        h3 {
            font-weight: 300;
            font-size: 30px;
            margin-bottom: 50px;
        }
    }

    .otherCars {
        max-width: 1200px;
        margin: 0px auto;
        margin-top: 100px;
        margin-bottom: 150px;

        h3 {
            font-weight: 300;
            font-size: 30px;
            margin-bottom: 50px;
            text-align: center;
        }
    }

    .buttonWrapper {
        max-width: 1200px;
        margin: 0px auto;
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .singleCarContainer {
        .headline {
            h1 {
                font-size: 30px;
                font-weight: 300;
            }
        }

        .pickerWrapper {
            padding: 0px 0px 0px 10px;

            h4 {
                font-size: 20px !important;
                font-weight: 300;
            }

            .pickerField {
                width: 100%;
                margin-top: 30px;
                min-width: unset !important;
                max-width: 100%;
            }
        }

        .otherDetails {
            font-weight: 300 !important;
            ;
        }


        .offerWrapper {

            margin-top: 30px;
            margin-bottom: 30px;
        }

        .headlineTwoContainer {
            h2 {
            font-size: 30px;
        }
    }
    }
}